/* src/components/Sectors/InvestmentSectors.css */
.sectors-section {
  background-color: #0798ec;
  color: white;
  height: 100vh; /* Ocupa el 100% del viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.sectors-section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}

.sectors-section p,
.sectors-section h3,
.sectors-section ul {
  max-width: 800px;
  text-align: center;
  margin: 10px 0;
}
