:root {
background-color: rgb(0, 0, 0);

}

.fp-nav ul li a,
.fp-nav ul li a span {
  background-color: #fff !important; /* Fondo blanco */
  width: 16px !important;
  height: 16px !important;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8) !important;
  border: none !important;
}

/* Para el botón activo */
.fp-nav ul li.active a,
.fp-nav ul li.active a span {
  background-color: #fff !important;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8) !important;
}

/* Opcional: posicionar la navegación a la izquierda */
.fp-nav {
  left: 20px !important;
  right: auto !important;
}
