@import "tailwindcss";

.fp-watermark {
  display: none;
  }

.fp-nav ul li a,
.fp-nav ul li a span {
  background-color: #ffffff; /* Fondo blanco */
  width: 16px;
  height: 16px; 
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  border: none ;
}

/* Para el botón activo */
.fp-nav ul li.active a,
.fp-nav ul li.active a span {
  background-color: white ;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8) ;
}

/* Opcional: posicionar la navegación a la izquierda */
.fp-nav {
  left: 20px;
  right: auto;
}
